<%- include("./partials/head") %>

            <body>     
                <%- include("./partials/header") %> 
                <div class="container-login">
                    <h1>Ya estas logeado en el sitio!!!!</h1>
                </div>
            <%- include("./partials/footer") %>
    </body>

    </html>