<%- include("./partials/head") %>
<body>
  <%- include("./partials/header")  %>
  <div class="wrapper">
    <div class="slider" id="slider">
      <ul class="slides">
        <li class="slide" id="slide1">
          <a href="#">
            <p class="caption">Vinilo 1</p>
            <img src="/img/Vinilo1.jpg" alt="photo 1">
          </a>
        </li>
        <li class="slide" id="slide2">
          <a href="#">
            <p class="caption">Vinilo 2</p>
            <img src="/img/Vinilo2.jpg" alt="photo 2">
          </a>
        </li>
        <li class="slide" id="slide3">
          <a href="#">
            <p class="caption">Vinilo 3</p>
            <img src="/img/Vinilo3.jpg" alt="photo 3">
          </a>
        </li>
        <li class="slide" id="slide4">
          <a href="#">
            <p class="caption">Vinilo 4</p>
            <img src="/img/Vinilo4.jpg" alt="photo 4">
          </a>
        </li>
        <li class="slide" id="slide5">
          <a href="#">
            <p class="caption">Vinilo 5</p>
            <img src="/img/Vinilo5.jpg" alt="photo 5">
          </a>
        </li>
        <li class="slide">
          <a href="#">
            <p class="caption">Texto llamativo</p>
            <img src="/img/Vinilo1.jpg" alt="photo 1">
          </a>
        </li>
      </ul>
      <ul class="slider-controler">
        <li><a href="#slide1">&bullet;</a></li>
        <li><a href="#slide2">&bullet;</a></li>
        <li><a href="#slide3">&bullet;</a></li>
        <li><a href="#slide4">&bullet;</a></li>
        <li><a href="#slide5">&bullet;</a></li>
      </ul>
    </div>
  </div>
  <div class="listasventa">
    <section class="masvendido">
      <h2>Mas Vendidos</h2>
      <article>
        <img src="/img/Discos/disco(1).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(2).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(3).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
    </section>
    <section class="nuevos">
      <h2>Nuevos Lanzamientos</h2>
      <article>
        <img src="/img/Discos/disco(4).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(5).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(6).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(7).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
    </section>
    <section class="seleccionados">
      <h2>Nuestra Seleccion</h2>
      <article>
        <img src="/img/Discos/disco(8).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(9).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(10).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
    </section>
  </div>
  <%- include("./partials/footer")  %>
</body>
</html>