<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <link href='https://css.gg/css' rel='stylesheet'>
  <link rel="stylesheet" href="css/style.css">
  <title>Lado A</title>
</head>

<body>
  <header>
    <div class="top-header">
      <a href="/"><img src="/img/Logo.png" class="logo"></a>
      <input placeholder="Buscar artículos o géneros" action="#" method="GET">
      <ul class="user-panel">
        <li><i class="gg-calendar-next"></i><a href="/login">Ingresar</a></li>
        <li><i class="gg-add-r"></i><a href="/register">Registro</a></li>
        <li><i class="gg-shopping-cart"></i><a href="/carrito">Carrito</a></li>
      </ul>
    </div>
    <button><i class="gg-sort-az"></i></button>
    <div class="navegador">
      <ul>
        <li></i><a href="#">Home</a></li>
        <li></i><a href="#">Lo mas vendido</a></li>
        <li></i><a href="#">Discos por género</a></li>
        <li></i><a href="#">Ayuda</a></li>
        <li></i><a href="#">Quienes Somos</a></li>
        <li></i><a href="#">Contacto</a></li>
      </ul>
    </div>
  </header>

  <div class="wrapper">
    <div class="slider" id="slider">
      <ul class="slides">
        <li class="slide" id="slide1">
          <a href="#">
            <p class="caption">Vinilo 1</p>
            <img src="/img/Vinilo1.jpg" alt="photo 1">
          </a>
        </li>
        <li class="slide" id="slide2">
          <a href="#">
            <p class="caption">Vinilo 2</p>
            <img src="/img/Vinilo2.jpg" alt="photo 2">
          </a>
        </li>
        <li class="slide" id="slide3">
          <a href="#">
            <p class="caption">Vinilo 3</p>
            <img src="/img/Vinilo3.jpg" alt="photo 3">
          </a>
        </li>
        <li class="slide" id="slide4">
          <a href="#">
            <p class="caption">Vinilo 4</p>
            <img src="/img/Vinilo4.jpg" alt="photo 4">
          </a>
        </li>
        <li class="slide" id="slide5">
          <a href="#">
            <p class="caption">Vinilo 5</p>
            <img src="/img/Vinilo5.jpg" alt="photo 5">
          </a>
        </li>
        <li class="slide">
          <a href="#">
            <p class="caption">Texto llamativo</p>
            <img src="/img/Vinilo1.jpg" alt="photo 1">
          </a>
        </li>
      </ul>
      <ul class="slider-controler">
        <li><a href="#slide1">&bullet;</a></li>
        <li><a href="#slide2">&bullet;</a></li>
        <li><a href="#slide3">&bullet;</a></li>
        <li><a href="#slide4">&bullet;</a></li>
        <li><a href="#slide5">&bullet;</a></li>
      </ul>
    </div>
  </div>
  <div class="listasventa">
    <section class="masvendido">
      <h2>Mas Vendidos</h2>
      <article>
        <img src="/img/Discos/disco(1).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(2).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(3).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
    </section>
    <section class="nuevos">
      <h2>Nuevos Lanzamientos</h2>
      <article>
        <img src="/img/Discos/disco(4).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(5).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(6).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(7).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
    </section>
    <section class="seleccionados">
      <h2>Nuestra Seleccion</h2>
      <article>
        <img src="/img/Discos/disco(8).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(9).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
      <article>
        <img src="/img/Discos/disco(10).webp">
        <br><span>Titulo</span>
        <br><span>Artista</span>
        <br><span>Precio</span>
      </article>
    </section>
  </div>
  <footer>
    <ul>
      <h2>LADO A</h2>
      <h4>Vinyl Company</h4>
      <img src="/img/Logo.png" class="logo-footer">
    </ul>
    <ul>
      <li>
        <h4>Ayuda y FAQ</h4>
      </li>
      <li><a href="#">Link1</a></li>
      <li><a href="#">Link1</a></li>
      <li><a href="#">Link1</a></li>
    </ul>
    <ul>
      <li>
        <h4>Mi Cuenta</h4>
      </li>
      <li><a href="#">Link2</a></li>
      <li><a href="#">Link2</a></li>
      <li><a href="#">Link2</a></li>
    </ul>
    <ul>
      <li>
        <h4>Placeholder</h4>
      </li>
      <li><a href="#">Link3</a></li>
      <li><a href="#">Link3</a></li>
      <li><a href="#">Link3</a></li>
    </ul>
    <div class="social-foot">
      <button><span><i class="gg-instagram"></i></span></button>
      <button><span><i class="gg-google"></i></span></button>
      <button><span><i class="gg-facebook"></i></span></button>
      <button><span><i class="gg-twitter"></i></span></button>
    </div>
  </footer>
</body>

</html>