<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Lado A</title>
</head>
<body>
    <header>
        <div class="logo-box">
            <img src="/img/isologotipo.jpg" class="logo">
        </div>
        <div class="input">
            <input placeholder="Buscar artículos o géneros" action="#" method="GET">
        </div>
        <div class="navegador">
        <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Lo mas vendido</a></li>
                <li><a href="#">Discos por género</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Contactos</a></li>
        </ul>
        </div>
        <div class="user-panel">
            
        </div>
    </header>
    
</body>
</html>