<%- include("./partials/head")  %>
<body>
    <%- include("./partials/header")  %>
    <form action="/" method="get" class="estiloForm">
        <h3>Creación y edición de productos</h3>
        <div class="estiloForm1">
            <label for="nombreDelProducto" class="estiloForm2">Nombre del Producto :</label>
            <input type="text" name="nombreDelProducto" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="descripción" class="estiloForm2">Descripción:</label>
            <input type="text" name="descripción" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="imagen" class="estiloForm2">Imagen:</label>
            <input type="file" name="imagen" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="categoria" class="estiloForm2">Categoría:</label>
            <input type="text" name="categoria" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="genero" class="estiloForm2">Genero:</label>
            <input type="text" name="genero" class="estiloForm3">
        </div>
        <div class="estiloForm1">
            <label for="precio" class="estiloForm2">Precio:</label>
            <input type="text" name="precio" class="estiloForm3">
        </div>
       
        <div class="botones-registro">
            <button type="submit" class="botonForm">Modificar</button>
            <button type="submit" class="botonForm">Crear</button>
        </div>
    </form>
    <%- include("./partials/footer")  %>
</body>

</html>