<%- include("./partials/head") %>
    <body>
        <%- include("./partials/header") %>
            <div class="container-login">
                <form action="/producto/crear" method="POST" enctype="multipart/form-data" class="estiloForm">
                    <h3>Creacion de productos</h3>
                    <div class="estiloForm1">
                        <label for="title" class="estiloForm2">Nombre del producto:</label>
                        <input type="text" name="title" id="title" class="estiloForm3">
                    </div>
                    <div class="estiloForm1">
                        <label for="idArtist" class="estiloForm2">Artista</label>
                        <input type="text" name="idArtist" id="idArtist" class="estiloForm3">
                    </div>
                    <div class="estiloForm1">
                        <label for="releaseYear" class="estiloForm2">Año</label>
                        <input type="number" name="releaseYear" id="releaseYear" class="estiloForm3">
                    </div>
                   
                    <div class="estiloForm1">
                        <label for="precio" class="estiloForm2">Precio</label>
                        <input type="number" name="price" id="price" class="estiloForm3" step="any">
                    </div>
                    <div class="estiloForm1">
                        <label for="description" class="estiloForm2">Descripcion</label>
                        <textarea name="description" id="description" class="estiloForm3" rows="4" cols="50"></textarea>
                    </div>
                    <div class="estiloForm1">
                        <label for="artwork" class="estiloForm2">Imagen</label>
                        <input type="file" name="artwork" id="artwork" class="estiloForm3">
                    </div>
                    <div class="estiloForm1">
                        <label for="sales" class="estiloForm2">Ventas</label>
                        <input type="number" name="sales" id="sales" class="estiloForm3" step="any">
                    </div>
                    <div class="botones-registro">
                        <button type="submit" class="botonForm">Crear</button>
                    </div>
                </form>
            </div>
            <%- include("./partials/footer") %>
    </body>

    </html>