<%- include("./partials/head")  %>

<body>
    <%- include("./partials/header")  %>
    <form class="detalle">
        <article>
            <img src="/img/Discos/disco(9).webp">
           <div> 
            <h1>Nombre del Disco 1</h1>
            <div class="precio-artista-genero">
           <h3>$50</h3>
           <h3>Genero - Artista</h3>
           </div>
            <button class="botonA単adir">A単adir al carrito</button>
            <button class="botonA単adir">A単adir a lista de destacado</button>
            <p>Texto detalle producto </p>
        </div>
        </article>
    </form>
    <%- include("./partials/footer")  %>
</html>