<%- include("./partials/head") %>

    <body>
        <%- include("./partials/header") %>
            <div class="container-login">
                <div class="headerCarro">
                    <h1>Carrito de productos</h1>
                    <p>Estos son los articulos actualmente en tu carrito: </p>
                </div>
                <form action="/" method="get" class="formularioCompra">
                    <%- include("./partials/productArrayCart") %>
                        <div class="finalCosto">
                            <h2 class="precioTotal">Costo total: 187.66$</h2>
                            <button type="submit" class="botonCompra">Comprar todo</button>
                        </div>
                </form>
            </div>
            <%- include("./partials/footer") %>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
                </html>