<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href='https://css.gg/css' rel='stylesheet'>
    <link rel="stylesheet" href="css/test-carrousel.css">
    <title>Lado A</title>
</head>


<div class="wrapper">
    <div class="slider" id="slider">
      <ul class="slides">
        <li class="slide" id="slide1">
          <a href="#">
            <p class="caption">Vinilo 1</p>
            <img src="/img/Vinilo1.jpg" alt="photo 1">
          </a>
        </li>
        <li class="slide" id="slide2">
          <a href="#">
            <p class="caption">Vinilo 2</p>
            <img src="/img/Vinilo2.jpg" alt="photo 2">
          </a>
        </li>
        <li class="slide" id="slide3">
          <a href="#">
            <p class="caption">Vinilo 3</p>
            <img src="/img/Vinilo3.jpg" alt="photo 3">
          </a>
        </li>
        <li class="slide" id="slide4">
          <a href="#">
            <p class="caption">Vinilo 4</p>
            <img src="/img/Vinilo4.jpg" alt="photo 4">
          </a>
        </li>
        <li class="slide" id="slide5">
          <a href="#">
             <p class="caption">Vinilo 5</p>
             <img src="/img/Vinilo5.jpg" alt="photo 5">
          </a>
        </li>
        <li class="slide">
          <a href="#">
            <p class="caption">Texto llamativo</p>
            <img src="/img/Vinilo1.jpg" alt="photo 1">
          </a>
        </li>
      </ul>
      <ul class="slider-controler">
        <li><a href="#slide1">&bullet;</a></li>
        <li><a href="#slide2">&bullet;</a></li>
        <li><a href="#slide3">&bullet;</a></li>
        <li><a href="#slide4">&bullet;</a></li>
        <li><a href="#slide5">&bullet;</a></li>
      </ul>
    </div>
  </div>