* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: white;
    width: 100%;
    height: 100%;
}

header {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    border: solid 5px #09735F;
    border-radius: 5px;
}

header .navegador {
    display: none;
}

header .user-panel {
    display: none;
}

input {
    width: 85%;
    padding: 10px;
    align-self: center;
    border: solid 1px black;
    border-radius: 5px;
}

header ul li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 3px;
    min-width: 35%;
}

header ul li a {
    padding: 5px;
    align-self: center;
}

header ul li i {
    align-self: center;
}

.top-header {
    text-align: center;
}

.user-panel ul {
    list-style: none;
}

.user-panel {
    min-width: 90%;
}

.navegador {
    order: 1;
    min-width: 90%;
}

header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 5px;
    align-items: baseline;
}

.navegador ul li {
    margin: 5px;
}

.logo {
    max-width: 30vw;
}

header ul li {
    display: flex;
}

header button {
    align-self: center;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 7px;
}

.logo-footer {
    max-width: 20vw;
}

footer {
    display: flex;
    margin: 5px;
    border-top: solid 1px black;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: black;
}

footer ul {
    margin: 4px;
    list-style: none;
    font-style: italic;
}

footer .social-foot {
    display: flex;
    width: 40%;
    justify-content: space-around;
    padding: 0% 30%;
    gap: 5px;
}

footer button {
    height: 25px;
    width: 25px;
    background-color: white;
    color: black;
    border-radius: 50%;
    margin: 2px;
}

.masvendido{
    border-left: solid 1px black;
    border-right: solid 1px black;
    padding: 5px;
}

.nuevos{
    border-left: solid 1px black;
    border-right: solid 1px black;
    padding: 5px;
}

.seleccionados{
    border-left: solid 1px black;
    border-right: solid 1px black;
    padding: 5px;
}

/* CSS DEL CARROUSEL */

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    10% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(-100%);
    }

    30% {
        transform: translateX(-100%);
    }

    35% {
        transform: translateX(-200%);
    }

    50% {
        transform: translateX(-200%);
    }

    55% {
        transform: translateX(-300%);
    }

    70% {
        transform: translateX(-300%);
    }

    75% {
        transform: translateX(-400%);
    }

    90% {
        transform: translateX(-400%);
    }

    95% {
        transform: translateX(-500%);
    }

    100% {
        transform: translateX(-500%);
    }
}

html {
    scroll-behavior: smooth;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.slider {
    position: relative;
}

.slides {
    position: relative;
    display: flex;
    overflow: hidden;
}

.slide {
    width: 100vw;
    flex-shrink: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.slide img {
    width: 100%;
    vertical-align: top;
}

.slide a {
    width: 100%;
    display: inline-block;
    position: relative;
}

.caption {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 8vw;
    position: absolute;
    bottom: 8vw;
    right: 4vw;
}

.slide:target {
    animation-name: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
}

.slider-controler {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.slider-controler li {
    margin: 0 0.5rem;
    display: inline-block;
    vertical-align: top;
}

.slider-controler a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
}

.listasventa {
    display: flex;
    justify-content: space-evenly;
    margin: 3px;
    flex-wrap: wrap;
}

.listasventa article img {
    width: 92px;
    height: 92px;
}

.estiloForm {
    padding: 20px 15px;
    width: 100%;
    text-align: center;
    
    
}

.estiloForm1 {
    margin-bottom: 15px;
}

.estiloForm1 label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
    
    
}


.estiloForm2{
    width: 100%;
    padding: 8px 8px;
}

.estiloForm3{
    width: 30%;
    padding: 8px 8px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
}

.botonForm{
    
    color:black;
    border: none;
    font-size: 15px;
    padding: 3px 6px;
    border-radius: 3px;
    transition: 0.5s;
}

.botonForm:hover{
    background-color: black;
    color: white;
    
}


.estiloForm4{
    align-items: center;
}

@media only screen and (min-width: 1200px) {
    .slide {
        width: 1200px;
    }

    .caption {
        font-size: 96px;
        bottom: 96px;
        right: 50px;
    }
}



/* CSS DEL CARROUSEL FIN */

@media (min-width: 576px) {

    .top-header {
        display: flex;

    }

    input {

        width: 100%;

    }

    header .navegador {
        display: block;
    }

    header .user-panel {
        display: block;
    }

    header button {
        display: none;
    }

    .listasventa article img {
        width: 12vw;
        height: 10vh;
    }


}